<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRTU" />
                <binding name="BasicHttpBinding_IDbManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58039/ScadaService.svc/rtu"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRTU"
                contract="ServiceReference1.IRTU" name="BasicHttpBinding_IRTU" />
            <endpoint address="http://localhost:58039/ScadaService.svc/dbm"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDbManager"
                contract="ServiceReference1.IDbManager" name="BasicHttpBinding_IDbManager" />
        </client>
    </system.serviceModel>
</configuration>