<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRTU" />
                <binding name="BasicHttpBinding_IDbManager" />
                <binding name="BasicHttpBinding_IReportManager" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAlarmDisplay" />
                <binding name="WSDualHttpBinding_ITrending" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58039/ScadaService.svc/rtu"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRTU"
                contract="ServiceReference1.IRTU" name="BasicHttpBinding_IRTU" />
            <endpoint address="http://localhost:58039/ScadaService.svc/dbm"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDbManager"
                contract="ServiceReference1.IDbManager" name="BasicHttpBinding_IDbManager" />
            <endpoint address="http://localhost:58039/ScadaService.svc/alarmDisplay"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmDisplay"
                contract="ServiceReference1.IAlarmDisplay" name="WSDualHttpBinding_IAlarmDisplay">
                <identity>
                    <userPrincipalName value="DESKTOP-46SMTTS\zoric" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:58039/ScadaService.svc/trending"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrending"
                contract="ServiceReference1.ITrending" name="WSDualHttpBinding_ITrending">
                <identity>
                    <userPrincipalName value="DESKTOP-46SMTTS\zoric" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:58039/ScadaService.svc/report"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportManager"
                contract="ServiceReference1.IReportManager" name="BasicHttpBinding_IReportManager" />
        </client>
    </system.serviceModel>
</configuration>